body {
  font-family: serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  color: black;
  transition: all 300ms ease;
}
div {
  text-align: center;
  border: 4px solid black;
  padding: 16px;
  box-shadow: 16px 16px black;
  border-radius: 16px;
}
img {
  max-width: 600px;
  border-radius: 8px;
}
a {
  text-decoration: none;
  color: lightblue;
  font-weight: bold;;
}
.dark {
  background: black;
  color: white;
}
